.row
  .span4.offset4.well
    %legend=t('.title')
    = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| 
      = f.error_notification
      = f.full_error :confirmation_token 
    
      .form-inputs
        = f.input :email, :required => true, :autofocus => true, :label => false, :input_html => {:class => "span4"}, :placeholder => t('.email')
    
      = f.button :submit, t('.submit'), :class => "btn-info btn-block"
    .pull-right 
      = render "devise/shared/links"
